body {
  background-color: #2da1eb;
}
.Navigation {
  background-color: #2da1eb;
  position: relative;
  transition: 03ms;
}

.Navigation a {
  color: #2da1eb;
}
.Navigation a:link {
  color: #ffffff;
}
.Navigation a:hover {
  color: #ffffff75;
}
.Navigation a:active {
  color: #ffffff;
}
.Navigation a:visited {
  color: #ffffff;
}

.Summary {
  background-color: #2da1eb;
  height: 860px;
}
.Summary p {
  color: #ffffff;
}

#name {
  display: flex;
  justify-content: left;
  padding-top: 10rem;
  margin-left: 10%;
}
#sum {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

#name p {
  font-family: "Caveat", serif;
  font-size: 5rem;
  font-weight: 900;
}
#sum p {
  font-family: "Syne Mono", monospace;
  font-size: 3rem;
  font-weight: 550;
}

@keyframes side-to-side {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 5px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: -5px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes up-down {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 0px;
    top: 10px;
  }
  50% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 10px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#img-work {
  display: inline-flex;
  float: right;
  margin-right: 10%;
  height: 800px;
  position: relative;
  animation-name: up-down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#img-dev {
  display: flex;
  margin-left: 7%;
  height: 440px;
  float: left;
}

#img-dev:hover {
  display: flex;
  margin-left: 7%;
  height: 440px;
  float: left;
  position: relative;
  animation-name: side-to-side;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Education {
  background-color: #238ad1;
  padding-top: 5.5rem;
  padding-bottom: 3rem;
}
.Education p {
  font-family: "Quicksand", serif;
  font-size: 2rem;
  font-weight: 450;
  color: #ffffff;
}
.Education ul > li {
  font-family: "Quicksand", serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
  list-style: circle;
}

.ProjectsExp {
  background-color: #1973b8;
}

.card {
  background-color: #238ad1;
}
.card * {
  color: #ffffff;
  font-family: "Quicksand", serif;
}

.Skills {
  background-color: #238ad1;
  padding: 3rem 0rem;
}

.Skills * {
  color: #ffffff;
}

.Skills dt {
  font-family: "Quicksand", serif;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.Skills .core {
  font-family: "Quicksand", serif;
  font-size: 2rem;
  font-weight: 450;
  color: #ffffff;
}

.Skills .sub {
  font-family: "Quicksand", serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
}

.AboutMe {
  background-color: #1973b8;
}

.AboutMe * {
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  align-items: center;
}

.AboutMe h2 {
  font-size: 2.3rem;
  font-weight: 450;
  text-align: center;
}

.sticker {
  height: 200px;
  width: 200px;
  border: 10px solid #2da1eb;
}

.AboutMe .likes {
  display: flex;
  padding: 2rem;
}
.AboutMe .likes p {
  padding: 2rem;
}

.AboutMe .tea,
.movie {
  justify-content: flex-start;
}
.AboutMe .books,
.CE {
  justify-content: flex-end;
}

.ContactMe {
  background-color: #0e5da0;
  height: 200px;
}

.ContactMe .logo:hover {
  opacity: 0.75;
}

.Footer {
  background-color: #0e5da0;
}

.Footer * {
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  align-items: center;
  text-align: center;
}

@media (width <= 1911px) {
  #sum p {
    font-size: 1.9rem;
  }
  #img-dev {
    margin-top: 25px;
  }
}

@media (width <= 1797px) {
  #sum p {
    font-size: 1.9rem;
  }
  #img-work {
    height: 700px;
  }
  #img-dev {
    margin-top: 24px;
  }
}

@media (width <= 1400px) {
  #name {
    justify-content: center;
    margin: 0;
  }
  #name p {
    margin: 0;
  }
  #img-work {
    display: none;
  }
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 34%;
    padding-right: 34%;
    margin-top: 25px;
    height: 440px;
    float: none;
  }
  #img-dev:hover {
    display: flex;
    margin-left: 7%;
    height: 440px;
    float: left;
    position: relative;
    animation-name: side-to-side;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@media (width <= 1200px) {
}

@media (width <= 992px) {
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 30%;
    padding-right: 34%;
    margin-top: 25px;
    height: 440px;
    float: none;
  }
}

@media (width <= 768px) {
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 20%;
    margin-top: 25px;
    height: 440px;
    float: none;
  }
  .Education {
    padding-top: 1rem;
  }
  .Education p {
    font-size: 1.7;
  }
  .Education ul > li {
    font-size: 1.5;
  }
}

@media (width <= 576px) {
  #name p {
    text-align: center;
  }
  #sum p {
    text-align: center;
  }
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 20%;
    margin-top: 25px;
    height: 350px;
    float: none;
  }
}
