/*body{
  background-color: #2da1eb;
}*/
.Navigation {
  background-color: #2da1eb;
  position: relative;
  transition: 03ms;
}

.Navigation a {
  color: #2da1eb;
}
.Navigation a:link {
  color: #ffffff;
}
.Navigation a:hover {
  color: #ffffff75;
}
.Navigation a:active {
  color: #ffffff;
}
.Navigation a:visited {
  color: #ffffff;
}

.Summary {
  background-color: #2da1eb;
  height: 860px;
}
.Summary p {
  color: #ffffff;
}

#name {
  display: flex;
  justify-content: left;
  padding-top: 10rem;
  margin-left: 10%;
}
#sum {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

#name p {
  font-family: "Caveat", serif;
  font-size: 5rem;
  font-weight: 900;
}
#sum p {
  font-family: "Syne Mono", monospace;
  font-size: 3rem;
  font-weight: 550;
}

#img-work {
  display: inline-flex;
  float: right;
  margin-right: 10%;
  height: 800px;
}
#img-dev {
  display: flex;
  margin-left: 7%;
  height: 440px;
  float: left;
}

.Education {
  background-color: #238ad1;
  height: 500px;
  padding-top: 5.5rem;
}

.Education p {
  font-family: "Quicksand", serif;
  font-size: 2rem;
  font-weight: 450;
  color: #ffffff;
}

.Education ul > li {
  font-family: "Quicksand", serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
  list-style: circle;
}

.ProjectsExp{
  background-color: #1973b8;
  height: 500px;
}

@media (width <= 1797px) {
  .Summary {
  }
  .Summary p {
  }
  #name {
  }
  #name p {
  }
  #sum {
  }
  #sum p {
    font-size: 1.9rem;
  }
  #img-work {
    height: 700px;
  }
  #img-dev {
    margin-top: 24px;
  }
  .Education {
  }
  .Education p {
  }
  .Education ul > li {
  }
}

@media (width <= 1400px) {
  .Summary {
  }
  .Summary p {
  }
  #name {
    justify-content: center;
    margin: 0;
  }
  #name p {
    margin: 0;
  }
  #sum {
  }
  #sum p {
  }
  #img-work {
    display: none;
  }
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 34%;
    padding-right: 34%;
    margin-top: 25px;
    height: 440px;
    float: none;
  }
  .Education {
  }
  .Education p {
  }
  .Education ul > li {
  }
}

@media (width <= 1200px) {
  .Summary {
  }
  .Summary p {
  }
  #name {
  }
  #name p {
  }
  #sum {
  }
  #sum p {
  }
  #img-work {
  }
  #img-dev {
  }
  .Education {
  }
  .Education p {
  }
  .Education ul > li {
  }
}

@media (width <= 992px) {
  .Summary {
  }
  .Summary p {
  }
  #name {
  }
  #name p {
  }
  #sum {
  }
  #sum p {
  }
  #img-work {
  }
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 30%;
    padding-right: 34%;
    margin-top: 25px;
    height: 440px;
    float: none;
  }
  .Education {
  }
  .Education p {
  }
  .Education ul > li {
  }
}

@media (width <= 768px) {
  .Summary {
  }
  .Summary p {
  }
  #name {
  }
  #name p {
  }
  #sum {
  }
  #sum p {
  }
  #img-work {
  }
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 20%;
    margin-top: 25px;
    height: 440px;
    float: none;
  }
  .Education {
    padding-top: 1rem;
  }
  .Education p {
    font-size: 1.7;
  }
  .Education ul > li {
    font-size: 1.5;
  }
}

@media (width <= 576px) {
  .Summary {
  }
  .Summary p {
  }
  #name {
  }
  #name p {
    text-align: center;
  }
  #sum {
  }
  #sum p {
    text-align: center;
  }
  #img-work {
  }
  #img-dev {
    margin: 0;
    display: flex;
    padding-left: 20%;
    margin-top: 25px;
    height: 350px;
    float: none;
  }
  .Education {
  }
  .Education p {
  }
  .Education ul > li {
  }
}
