<div id="recipeContainer" class="hidden">
  <!-- If no recipe yet, show: -->
  <% if (locals.recipe === undefined) { %>
  <h2>Pick your favourite taco ingredient 👆</h2>
  <% } else{%>
  <!-- Else, show the recipe name e.g. <h2>Recipe name</h2>-->
  <h2><%= data.name %></h2>
  <h3>Ingredients:</h3>
  <ul id="ingredientsList">
    <li>
      <%= data.ingredients.protein.name %>,<%=
      data.ingredients.protein.preparation %>
    </li>
    <li><%= data.ingredients.salsa.name %></li>
    <% data.ingredients.toppings.forEach(toppings => { %>
    <li><%= topping.quantity %> of <%= toppings.name %></li>
    <% })} %>
  </ul>
</div>
